<button type="button" mat-raised-button (click)="fileInput.click()">{{chooseFileMessage}}</button>
<input hidden #fileInput type="file" class="file-input" (change)="onChange($event)" #fileUpload />

@if(file) {
<section class="file-info">
  File details:
  <ul>
    <li>Name: {{ file?.name }}</li>
    <li>Type: {{ file?.type }}</li>
    <li>Size: {{ file?.size }} bytes</li>
  </ul>
</section>

<button mat-raised-button color="primary" (click)="onUpload()">Upload the file</button>

<section [ngSwitch]="status">
  <p *ngSwitchCase="'uploading'">⏳ Uploading...</p>
  <p *ngSwitchCase="'success'">✅ Done!</p>
  <p *ngSwitchCase="'fail'">❌ Error!</p>
  <p *ngSwitchDefault>😶 Waiting to upload...</p>
</section>
}
