<div class="user-info-container">
  <img
    [width]="32"
    [height]="32"
    src="https://cdn.pixabay.com/photo/2018/08/28/12/41/avatar-3637425_640.png"
    priority
    alt="profile picture"
  />

  <h2>{{ user?.firstName }} {{ user?.lastName }}</h2>

  <single-file-upload
    [chooseFileMessage]="'Change picture'"
  ></single-file-upload>

  <section class="contact-info">
    <p><strong>Phone:</strong> {{ user?.phoneNumber }}</p>
    <p><strong>Email:</strong> {{ user?.email }}</p>
  </section>

  <button mat-raised-button color="primary" (click)="openEditForm()">
    Edit profile
  </button>

  <h2>Addresses</h2>
  <button mat-raised-button color="primary" (click)="openAddressForm()">
    Add address
  </button>

  <button mat-raised-button color="primary" (click)="logout()">Logout</button>

  <address-list></address-list>
</div>
