<mat-card class="product-card">
  <mat-card-content>
    <h2>{{ product.title | truncate : 20 }}</h2>
    <img
      mat-card-image
      [src]="imgSrc"
      alt="Product Photo"
    />
    <p class="description">{{ product.description | truncate : 50 }}</p>
    <span class="price">{{ product.price }} RON</span>
    <div class="button-container">
      @if (!canEdit) {
      <button mat-raised-button color="primary" [disabled]="isAddedToCart" (click)="addToCart()">
        {{isAddedToCart ? 'Added to Cart' : 'Add to Cart'}}
      </button>
      } @else {
      <button mat-raised-button color="primary" (click)="editProduct()">
        Edit
      </button>
      <button mat-raised-button color="primary" (click)="deleteProduct()">
        Delete
      </button>
      }
      <button mat-button color="primary" (click)="viewProduct()">View</button>
    </div>
  </mat-card-content>
</mat-card>
