<mat-card class="product-card">
  <mat-card-header>
    <mat-card-title>{{article.title}}</mat-card-title>
  </mat-card-header>
  <img
    mat-card-image
    src="https://picsum.photos/id/1005/200/150"
    alt="Product Photo"
  />
  <mat-card-content>
    <p class="product-card-price">{{article.price}} RON</p>
  </mat-card-content>

  <mat-card-actions>
    <button class="product-card-button" mat-raised-button color="primary" (click)="addToCart()">
      Add to Cart
    </button>
    <button mat-button color="primary" (click)="viewProduct()">View</button>
  </mat-card-actions>
</mat-card>
