.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  padding: 30px;
  margin: 40px auto;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);

  mat-form-field {
    width: 100%;
    margin-bottom: 15px;
  }

  button[mat-raised-button] {
    width: 100%;
    margin-top: 20px;
  }

  .button--disabled {
    background-color: gray;
    opacity: 0.6; // Slightly faded when disabled
    cursor: default; // Indicate non-clickable state
  }

  &mat-error {
    mat-error {
      display: block;
    }
  }
}

.spinner-container {
  display: flex;
  flex-direction: column; // Arrange content vertically
  align-items: center; // Horizontal centering
  justify-content: center; // Vertical centering
  height: 100vh; // Ensure the container takes full viewport height
  min-height: 300px; // A minimum height in case content is smaller
}
