.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 400px;
  padding: 20px;
  margin: 20px auto;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);

  @media (max-width: 667px) {
    width: 95%;
    padding: 15px;
  }

  mat-form-field {
    width: 100%;
    margin-bottom: 15px;
  }

  button[mat-raised-button] {
    width: 100%;
    margin-top: 15px;
  }

  .button--disabled {
    background-color: gray;
    opacity: 0.6;
    cursor: default;
  }

  &mat-error {
    mat-error {
      display: block;
    }
  }
}

.spinner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 300px;
}
