@if (!canEdit) {
<div class="search-container">
  <mat-form-field class="search-field">
    <mat-label>Search</mat-label>
    <input matInput placeholder="Search articles" />
  </mat-form-field>

  <button mat-fab color="primary"><mat-icon>search</mat-icon></button>
</div>

}
<mat-grid-list [cols]="columns" rowHeight="400px">
  @for(product of products; track product){
  <mat-grid-tile
    ><product-card
      [loggedInUser]="loggedInUser"
      [product]="product"
      [canEdit]="canEdit"
    ></product-card
  ></mat-grid-tile>
  }
</mat-grid-list>
