.container {
  position: relative;
  padding-bottom: 50px; /* Add padding to ensure space for the paginator */
}

.add-product-button {
  position: absolute;
  top: 20px; /* Adjust as needed */
}

/* For desktop */
@media (min-width: 768px) {
  .add-product-button {
    top: 20px;
    right: 20px; /* Align to the top right corner */
    left: auto;
  }
}

/* For mobile */
@media (max-width: 767px) {
  .add-product-button {
    position: relative;
    margin-top: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 300px; /* Adjust as needed */
  }
}

.paginator-container {
  display: flex;
  justify-content: center;
  margin-top: 20px; /* Add margin to separate from the table */
}

.search-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: center;
}

.search-field {
  flex-grow: 1;
  max-width: 600px;
  margin-right: 10px; /* Add margin to separate input and button */
}

.search-button {
  margin-left: 10px; /* Add margin to separate input and button */
}
