<div class="container">
  @if (canEdit) {
  <button
    mat-raised-button
    color="primary"
    class="add-product-button"
    (click)="addProduct()"
  >
    Add new product
  </button>
  } @else {
  <div class="search-container">
    <mat-form-field class="search-field">
      <mat-label>Search</mat-label>
      <input matInput placeholder="Search products" #searchInput />
    </mat-form-field>

    <button
      mat-fab
      color="primary"
      class="search-button"
      (click)="onSearchButtonClick(searchInput.value)"
    >
      <mat-icon>search</mat-icon>
    </button>
  </div>
  }
  <paged-table
    [loggedInUser]="user"
    [products]="pagedproducts?.items"
    [canEdit]="canEdit"
  ></paged-table>

  <div class="paginator-container">
    <mat-paginator
      [length]="pagedproducts?.metadata?.totalCount"
      [pageSize]="pageSize"
      [pageSizeOptions]="[5, 10, 20]"
      (page)="onPageChange($event)"
    >
    </mat-paginator>
  </div>
</div>
