<div class="cart-items">
  @for(cartItem of cartItems; track cartItem){
  <cart-item [item]="cartItem" (remove)="removeCartItem($event)"></cart-item>
  }
</div>

<form #addressForm="ngForm" (ngSubmit)="submitOrder()" class="address-form">
  <select name="address" [(ngModel)]="selectedAddressId" class="address-select">
    @for(address of addresses; track address){
    <option [value]="address.id">
      {{ countries.get(address.country) }}, {{ states.get(address.state) }},
      {{ address.city }}
    </option>
    }
  </select>

  <button mat-raised-button color="primary" type="submit" class="submit-button">Place order</button>
</form>
